{{ define "edit" }}
{{ template "head"}}
    <div class="card">
        <div class="card-header">
            Editar Empleado
        </div>
        <div class="card-body">
           <form action="/update" method="post">
                <input type="hidden" value="{{.Id}}" name="id">
                
                <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input type="text" value="{{.Name}}" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Escribe tu Nombre</small>
                </div>

                <div class="form-group">
                  <label for="email">Correo</label>
                  <input type="email" class="form-control" value="{{.Email}}"  name="email" id="email" aria-describedby="emailId" placeholder="">
                  <small id="emailId" class="form-text text-muted">Escribe tu Correo</small>
                </div>

                <button type="submit" class="btn btn-primary">Editar empleado</button>
                <a name="" id="" class="btn btn-secondary mx-2" href="/" role="button">Volver</a>

           </form>


        </div>
    </div>

{{ template "footer"}}
{{ end }}
